body{margin:0;background:grey;font-family:Lato;color:white;scroll-behavior: smooth;}
nav{position:fixed;width:100%;z-index:10;}
nav>*{margin:0 auto}
nav ul li{box-sizing:border-box;height:100%;padding-top:.7em;border-radius:0 0 5px 5px;}
nav ul li:hover{background-color:#82c7bc;}
nav ul li:hover:nth-child(2){background-color:#df5c64;}
nav ul li:hover:nth-child(3){background-color:#91778e;}
nav ul li:hover:nth-child(4){background-color:#a1ca6c;}
nav ul a{color:white;text-decoration:none;padding:0 10px;}

ul{padding:0}
ul li{display:inline-block}

.fab{color:white;width:1em;padding:.5em;border-radius:50%;text-decoration:none}
.fa-facebook-f:hover	{background-color:#4f689e}
.fa-twitter:hover		{background-color:#55acee}
.fa-google-plus-g:hover	{background-color:#df5c64}
.fa-linkedin-in:hover	{background-color:#3e61af}

#About img,#Services img{margin:1%;width:70%;box-sizing:border-box;margin-top:30px;}

section{min-height:100vh;box-sizing:border-box;padding:5.5%;text-align:center;}

#Home{background:url(/asset/img/background/home.png) center/cover no-repeat;height:500px;}
#Services{background:#b24a50 url(/asset/img/background/services.png) center/cover no-repeat;}
	#Services article{background-color:rgba(200, 83, 90, 0.8);margin:auto;}
#About{background:#665464 url(/asset/img/background/about.png) center/cover no-repeat;}
	#About>h3{background-color: #a1ca6c;margin-bottom:0;border-radius:5px;font-size:1.5em;padding:.5em 0;font-family:Lato;font-weight:normal;}
	#About h3+div /*arrow*/
	{
		width: 0px;height: 0px;
		margin:0 auto;
		margin-bottom:1.5em;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #a1ca6c;
	}
	#About>div>div{background-color:rgba(77, 63, 75, 0.5);margin:auto;}
	#About>div>div img
	{
		border:5px solid #a1859e;border-radius:50%;
		background-color:white;
	}
	#About>div>div:hover img{border:5px solid #df5c64;}
	#About>div>div>h3{color:#c7b6c5;}
	#About>div>div:hover>h3{color:white;}
	#About>div>div>a{color:#7b8561;}
	#About>div>div:hover>a{color:#df5c64;}
	#About li>a{font-size:10px;background-color:#a1859e}
	#About>div>div:hover .fa-facebook-f		{background-color:#4f689e}
	#About>div>div:hover .fa-twitter		{background-color:#55acee}
	#About>div>div:hover .fa-google-plus-g	{background-color:#df5c64}
	#About>div>div:hover .fa-linkedin-in	{background-color:#3e61af}
#Work{background:#81a256 url(/asset/img/background/work.png) center/cover no-repeat;}
	#Work>div>div>p{text-align:start}
	#Work>div>div>ul{text-align:end}
	#Work>div>div>ul li{border-radius:5px;padding:2px;}
	#Work>div>div>ul li:hover{background:#f5c149;}
	#Work>div>div>ul li a{text-decoration:none;color:white;margin: auto 10px;}
	#Work article{margin-bottom:1em;position:relative;}
	#Work article>div/*arrow*/
	{
		width: 0px;
		height: 0px;
		position: absolute;
		bottom: 2.3em;left: 50%;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #eeeeee;
	}
	#Work img{width:100%}
	#Work h3{margin:0;margin-top:-5px;padding:.5em;height:1em;background:#eeeeee;color:#727272;}
#Contacts{min-height:90vh;background:#75b4aa url(/asset/img/background/contacts.png) center/cover no-repeat;}
	#Contacts li{display:block;}
	#Contacts form>*{margin:1% 0;background-color:#68a097;border:none;box-shadow:unset;}
	#Contacts form>*:focus{background-color:#f6f6f6}
	#Contacts input{width:49%;}
	#Contacts input[type=submit]{background-color:#df5c64;}
footer{height:10vh;background-color:#68a097;padding:1px 5.5%;text-align:center;}
footer li a{background-color:#82c7bc;}